@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playball&family=Source+Sans+Pro:wght@200&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Playball', cursive;
}

h2 {
    font-family:'Anton', sans-serif; 
    font-size: 35px;
    letter-spacing: 2px;
    margin: 0px;
}

#tagline {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    left: 58px;
    bottom: 27px;
}

#fork-knife {
    float:left;
    margin-right: 10px;
    width: 50px;
}

#header-right {
    float: right;
    position: relative;
    bottom: 65px;
}

#posted-date {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    bottom: 20px;
    font-size: 13px;
}

#print {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    float: right;
    position: relative;
    bottom: 40px;
}